/* Fontes */
@import url('https://fonts.googleapis.com/css?family=Bellota&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

/* CSS */
.title-container h1 {
    padding: 0;
    margin: 0;
    font-size: 2rem;
    display: inline-block;
}

.text-dark-2 {
    color: #333;
}

#covidInfo p {
    margin: 0;
    padding: 0;
    text-align: justify;
}

#sintomas h2,
h3 {
    padding: 0;
    margin: 0;
}

h2 {
    font-family: 'Oswald', sans-serif;
}

#sintomas h3,
#grupoRisco h3 {
    font-size: 1.3rem;
    text-align: center;
    font-family: 'Bellota', cursive;
    font-weight: 800;
    text-transform: uppercase;
}

.grupo-risco-icone {
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
}

.virus-info {
    color: white;
}

#data-covid {
    text-transform: uppercase;
    font-family: 'Oswald',
        sans-serif;
}

#covidStatus h3 {
    font-weight: 800;
}

#covidStatus .row span {
    font-weight: 800;
    font-size: 2rem;
    color: #ffc107;
}

/* Box shadow */
.box-shadow {
    -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.75);
}